html body {
    background-image: url('../img/R7A4216.jpg');
    background-attachment: fixed;
    background-position: center;
    width: 100%
}

#header {
    position: relative;
    font-size: 16px;
    color: #fff;
    background: #303B45;
}

#thumb {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: -0.5em;
    margin-right: 0em;
    vertical-align: middle;
    border-radius: 50%;
}

#sidebar {
    overflow: hidden;
    z-index: 3;
}

#sidebar .list-group {
    min-width: 400px;
    background-color: #333;
    min-height: 100vh;
}

#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
}


/* highlight active menu */

#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}


/* closed state */


/* open state */

#sidebar .list-group .list-group-item[aria-expanded="true"] {
    background-color: #222;
}


/* level 1*/

#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item {
    padding-left: 20px;
}


/* level 2*/

#sidebar .list-group .collapse>.collapse .list-group-item,
#sidebar .list-group .collapse>.collapsing .list-group-item {
    padding-left: 30px;
}


/* level 3*/

#sidebar .list-group .collapse>.collapse>.collapse .list-group-item {
    padding-left: 40px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }
    #sidebar.show {
        transform: translateX(0);
    }
    #sidebar::-webkit-scrollbar {
        width: 0px;
    }
    #sidebar,
    #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show,
    #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group>.list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group>.list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group>.list-group-item[aria-expanded="false"]::after {
        display: none;
    }
}

.collapse.show {
    visibility: visible;
}

.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.fa-align-justify:before {
    color: orange;
}


/* register form */

.form {
    background: rgba(255, 165, 0, 0.93);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #1d1818;
    padding: 8px 35px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 5px solid #252222;
}

form:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: #c4e17f;
    border-radius: 5px 5px 0 0;
    background: rgb(204, 204, 204);
}

.form h2 {
    margin: 12px 0;
    padding-bottom: 7px;
    width: 129px;
    color: #4e4e49;
    font-size: 24px;
    border-bottom: 3px solid #2d2a28;
    /* font-weight: 600; */
    margin-bottom: 10px;
}

input {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #bebed2;
    transition: all .3s;
}

.form p:before {
    content: attr(type);
    display: block;
    margin: 10px 0 0;
    font-size: 13px;
    color: #5a5a5a;
    float: left;
    width: 40%;
    transition: all .3s;
}

button {
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background: #78788c;
    color: #fff;
}

.tright {
    text-align: right;
}

.ui-menu {
    max-height: 150px;
    overflow: auto;
}

.ui-menu .ui-menu-item {
    padding: 5px;
    font-size: 14px;
}

.relative {
    position: relative;
    width: 100%;
}

.relative i.fa:before {
    color: #444;
    padding: 10px;
    position: absolute;
    left: -3px;
    text-align: center;
}

.relative i.fa {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    width: 0;
    height: 0;
    z-index: 99;
    border-left: 20px solid transparent;
    border-right: 30px solid #ccc;
    border-bottom: 34px solid #ccc;
    transition: all 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #0a0a0a;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(26, 26, 27);
}

.relative input:focus+i.fa {
    border-left: 20px solid transparent;
    border-right: 30px solid #4b4848;
    border-bottom: 34px solid #4b4848;
}

.relative input:focus+i.fa:before {
    color: #fff;
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0 4px 4px 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #fff;
}


/* --- Thanks Message Popup --- */

.thanks {
    max-width: calc(100vw - 40px);
    width: 200px;
    height: auto;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all .3s;
}

.thanks h4,
.thanks p {
    color: #fff;
    text-align: center;
}


/* --- Animated Buttons --- */

.movebtn {
    background-color: transparent;
    display: inline-block;
    width: 100px;
    background-image: none;
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
}

.movebtnre {
    border: 2px solid #ff5501;
    box-shadow: inset 0 0 0 0 #ff5501;
    color: #6a7180;
}

.movebtnsu {
    border: 2px solid #18191a;
    box-shadow: inset 0 0 0 0 #81899b;
    color: #6a7180;
}

.movebtnre:focus,
.movebtnre:hover,
.movebtnre:active {
    background-color: transparent;
    color: #FFF;
    border-color: #ff5501;
    box-shadow: inset 96px 0 0 0 #ff5501;
}

.movebtnsu:focus,
.movebtnsu:hover,
.movebtnsu:active {
    background-color: transparent;
    color: #FFF;
    border-color: #64666b;
    box-shadow: inset 96px 0 0 0 #515255;
}


/* 
camera */

#canvas {
    display: none;
}

.output {
    width: 100%;
    display: inline-block;
}

#startbutton,
#clearbutton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 32px;
    /* background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 1.0); */
}

video {
    margin-top: 100px;
}