body {
    background: #fff;
    font-size: 16px;
    font-family: 'Palanquin Dark', sans-serif;
}


/*--Barra Lateral --*/

.barra-lateral {
    background: #000;
    color: #fff;
    min-width: 300px;
    min-height: 100vh;
    padding: 0;
}

.barra-lateral a {
    color: #fff;
}


/*-- Logo --*/

.barra-lateral .logo {
    margin: 10px 0 10px 0;
    padding-left: 35px;
    padding-top: 5px;
}

.barra-lateral .logo h2 {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 0;
    text-align: center;
    font-weight: 300;
    margin: 0;
    color: #000
}


/*-- Menu --*/

.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    text-decoration: none;
}

.barra-lateral .menu a:hover {
    background: #b4aeae;
    text-decoration: none;
    color: #000;
}

.barra-lateral .menu a i {
    color: #fa5400;
    margin-right: 10px;
}


/* -- Main --*/

div .card-header {
    background: #000;
    color: white;
    font-size: 20px;
    text-align: center
}

.card {
    border: none;
}

.card-header:first-child {
    border-radius: 0;
}